<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.Dayan"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Bienvnido</name>

  <description>
 Proyecto APP 2017
  </description>

  <author href="https://github.com/Dayan1997/ProyectoAppe.git" email="callirgos_14_1997@hotmail.com">
      Hardeep Shoker
  </author>

</widget>




